html {
  background-color: rgb(64, 21, 158);
  color: white;
}

span {
  display: none;
}

.cell {
  width: 30px;
  height: 30px;
}

.cell--alive {
  background-color: rgb(104, 21, 105);
}

.cell--dead {
  background-color: rgb(222, 98, 98);
}